<h1>ユーザー編集</h1>
<div class="form-body">
  <% @user.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %>

  <%= form_tag("/users/#{@user.id}/update") do %>
    <p>ユーザー名</p>
    <input name="name" value="<%= @user.name %>">
    <p>メールアドレス</p>
    <input name="email" value="<%= @user.email %>">
    <p>住所</p>
    <input name="address" value="<%= @user.address %>">
    <p>パスワード</p>
    <input name="password" type="password" value="<%= @user.password %>">
    <input type="submit" value="編集">
  <% end %>
</div>
